Package: com.ps.mywifs
Name: MyWi Flipswitch
Description: Flipswitch for MyWi, all three types
Version: 0.0.1
Priority: optional
Section: Addons (Flipswitch)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Maintainer: PoomSmart
Author: PoomSmart
